@import '@/index.scss';

.custom-button {
  padding: 5px 10px;
  margin: 10px 0;

  outline: none;
  border: none;
  background-color: transparent;
  color: $gray;

  &.primary {
    color: $primary;
  }

  &.error {
    color: $error;
  }

  &.small {
    font-size: 14px;
  }

  &.medium {
    font-size: 16px;
  }

  &.large {
    font-size: 18px;
  }

  &.left {
    border-left: 1px solid $lightgray;
  }

  &.right {
    border-left: 1px solid $lightgray;
  }
}
